@media (prefers-reduced-motion: reduce) {

  .wp-block-lumen-accordion,
  .wp-block-lumen-button,
  .wp-block-lumen-carousel,
  .wp-block-lumen-dialog,
  .wp-block-lumen-popup,
  .wp-block-lumen-tabs,
  .wp-block-lumen-tooltip {
    scroll-behavior: auto;
  }

  .wp-block-lumen-accordion *,
  .wp-block-lumen-button *,
  .wp-block-lumen-carousel *,
  .wp-block-lumen-dialog *,
  .wp-block-lumen-popup *,
  .wp-block-lumen-tabs *,
  .wp-block-lumen-tooltip * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
  }
}
